[Unit]
Description=Registrator
After=consul.service
Requires=consul.service

[Service]
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull progrium/registrator
ExecStart=/usr/bin/docker run --volume /var/run/docker.sock:/var/run/docker.sock --hostname ${HOSTNAME} --name registrator progrium/registrator consul:
ExecStop=/usr/bin/docker stop registrator

[X-Fleet]
Global=true
